<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header" style="align-items: center">
    <div>
        <img th:src="@{/img/BILABONNEMENT_logo.svg}" alt="Manglende Logo" style="height: 3rem"/>
        <div th:if="${aktivBruger}" style="align-items: center">
            <span th:text="'Bruger: ' + ${aktivBruger.navn}" style="text-align: left; font-size: x-large; margin-left: 1rem"></span>
        </div>
    </div>
    <div th:if="${aktivBruger}" style="align-items: center">
        <form th:if="${aktivBruger.erStilling('forretning')}" th:action="@{/Registrer}" th:method="get" style="margin-right: 1rem">
            <button type="submit">Registrér Ny Burger</button>
        </form>
        <form th:action="@{/VisBiler}" th:method="get">
            <button type="submit">Se Biler</button>
        </form>
        <form th:action="@{/VisLejeAftaler}" th:method="get">
            <button type="submit">Se Lejeaftaler</button>
        </form>
        <form th:action="@{/saetValuta}" th:method="post" style="margin-right: 1rem">
            <input type="checkbox" name="valutaCheck" id="valutaCheck" th:value="${valuta}" th:checked="${valuta}" onchange="omregn(); this.form.submit();">
            <label for="valutaCheck">dkk/eur</label>
        </form>
        <form th:action="@{/LogUd}" th:method="get">
            <button type="submit" class="logud">Log Ud</button>
        </form>
    </div>
    <script th:inline="javascript">
        var euro = [[${valuta}]];
        function omregn()
        {
            var v = "kr";
            var f = 1;
            if (!euro)
            {
                v = "€";
                f = 0.13;
            }
            for (var i = 0; i < document.getElementsByClassName("valuta").length; i++)
            {
                document.getElementsByClassName("valuta").item(i).innerHTML = (document.getElementsByClassName("valuta").item(i).title * f) + v;
            }
            euro = !euro;
            document.getElementById("valutaCheck").value = euro;
        }
    </script>
</div>

<div th:fragment="footer">
    <form th:action="@{/VisBiler}" th:method="get">
        <button type="submit">Bil Liste</button>
    </form>
    <div>
        <p>Samlet Indkomst: <span class="valuta" th:title="${samletIndkomst}" th:text="${samletIndkomst} + 'kr'"></span></p>
    </div>
</div>



<div th:fragment="aftaleListeKort (vognNummer, kundeNavn, afgift, startDato, slutDato, erBetalt)" class="kort">
    <p class="vognNr" th:text="${vognNummer}"></p>
    <div>
        <p>Kunde:</p>
        <p th:text="${kundeNavn}" class="stelNummer" style="font-weight: bold">--Lejers Navn--</p>
    </div>
    <div style="text-align: right;">
        <p th:text="'Periode: ' + ${startDato}">Periode: StartDato</p>
        <p th:text="${slutDato}">SlutDato</p>
    </div>
    <div style="min-width: 30%">
        <p th:unless="${valuta}">Bekostning: <span class="valuta" th:title="${afgift}" th:text="${afgift} + 'kr'"></span></p>
        <p th:if="${valuta}">Bekostning: <span class="valuta" th:title="${afgift}" th:text="${afgift}*0.13 + '€'"></span></p>
        <p th:unless="${erBetalt}" style="font-weight: bold; color: red  ">Mangler Afbetaling</p>
        <p th:if    ="${erBetalt}" style="font-weight: bold; color: green">Afbetalt</p>
    </div>
</div>

<div th:fragment="aftaleListe">
    <div style="max-width: max-content;">
    <div th:each="Aftale : ${lejeAftaler}" class="liste">
        <a th:href="@{VisLejeAftale(aftaleId = ${Aftale.getAftale_Id()})}" style="color: inherit; text-decoration: none">
            <div th:insert="~{fragments :: aftaleListeKort (
                    vognNummer=${Aftale.getBil().toString()},
                    kundeNavn= ${Aftale.getKunde_Navn()},
                    afgift=    ${Aftale.getSamletPris()},
                    startDato= ${Aftale.getStartDato()},
                    slutDato=  ${Aftale.getSlutDato()},
                    erBetalt=  ${Aftale.erBetalt()}
                    )}">
            </div>
        </a>
    </div>
    </div>
</div>

<div th:fragment="aftaleKort">
    <a th:href="@{VisBil(vognNummer = ${lejeAftale.getBil().getVognNummer()})}" style="color: inherit; text-decoration: none">
        <div th:insert="~{fragments :: aftaleListeKort (
            vognNummer=${lejeAftale.getBil().toString()},
            kundeNavn= ${lejeAftale.getKunde_Navn()},
            afgift=    ${lejeAftale.getSamletPris()},
            startDato= ${lejeAftale.getStartDato()},
            slutDato=  ${lejeAftale.getSlutDato()},
            erBetalt=  ${lejeAftale.erBetalt()}
            )}">
        </div>
    </a>
</div>



<div th:fragment="bilListeKort (vognNummer, bilType, stelNummer, lager, afgift, status)" class="kort">
    <p class="vognNr" th:text="${vognNummer}"></p>
    <div>
        <p th:text="'Type: ' + ${bilType}">Type:</p>
        <p th:text="${stelNummer}" class="stelNummer">--StelNummer--</p>
    </div>
    <div>
        <p th:unless="${valuta}">Reg. Afgift: <span class="valuta" th:title="${afgift}" th:text="${afgift} + 'kr'"></span></p>
        <p th:if="${valuta}">Reg. Afgift: <span class="valuta" th:title="${afgift}" th:text="${afgift}*0.13 + '€'"></span></p>
        <p th:text="'Lager: ' + ${lager}">Lager:</p>
    </div>
    <div>
        <p th:text="'Status: ' + ${status}"></p>
    </div>
</div>

<div th:fragment="bilListe">
    <div th:each="Bil : ${biler}" class="liste">
        <a th:href="@{VisBil(vognNummer = ${Bil.getVognNummer()})}" style="color: inherit; text-decoration: none">
            <div th:insert="~{fragments :: bilListeKort(
                vognNummer=   ${Bil.toString()},
                bilType=      ${Bil.getType.getMaerke()},
                stelNummer=   ${Bil.getStelNummer()},
                lager=        ${Bil.getLager().getNavn()},
                afgift=       ${Bil.getType().afgift},
                status=       ${Bil.getStatus()}
                )}">
            </div>
        </a>
    </div>
</div>

<div th:fragment="bilKort">
    <div th:insert="~{fragments :: bilListeKort(
        vognNummer=   ${bil.toString()},
        bilType=      ${bil.getType.getMaerke()},
        stelNummer=   ${bil.stelNummer},
        lager=        ${bil.getLager().getNavn()},
        afgift=       ${bil.getType().afgift},
        status=       ${bil.getStatus()}
        )}">
    </div>
</div>



<div th:fragment="notationListeKort (beskrivelse, omkostning)" class="kort">
    <div>
        <p th:text="${beskrivelse}">--Beskrivelse--</p>
    </div>
    <div>
        <p th:text="'Omkostning: '">Omkostning:</p>
        <p th:unless="${valuta}"><span class="valuta" th:title="${omkostning}" th:text="${omkostning} + 'kr'"></span></p>
        <p th:if="${valuta}"><span class="valuta" th:title="${omkostning}" th:text="${omkostning}*0.13 + '€'"></span></p>
    </div>
</div>

<div th:fragment="notationListe">
    <div th:each="Notation : ${notationer}" class="liste">
        <a th:href="@{VisBil(vognNummer = ${Notation.getVognNummer()})}" style="color: inherit; text-decoration: none">
            <div th:insert="~{fragments :: notationListeKort (
                                    beskrivelse=${Notation.getBeskrivelse()},
                                    omkostning= ${Notation.getPris()}
                                    )}">
            </div>
        </a>
    </div>
</div>

</html>