<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<style>
    .fade-out {
        animation: fadeOut 3s ease-in-out forwards;
        color: darkred;
    }

    @keyframes fadeOut {
        0%   { opacity: 1; }
        60%  { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
    }
</style>
<body>
<header th:insert="~{fragments :: header}"></header>
<section>
    <div th:if="${brugerIkkeFundet}" class="fade-out">
        <label style="color: darkred">forkert brugernavn eller adgangskode</label>
    </div>
    <div th:unless="${brugerIkkeFundet}" >
        <br>
    </div>
    <form th:action="@{/OmdirigerLogind}" method="get">
        <label >Brugernavn:</label>
        <input type="text" name="navn" placeholder="navn" autofocus="autofocus" required/> <br/>
        <label >Adgangskode:</label>
        <input type="password" name="adgangskode" placeholder="adgangskode" required /> <br/>
        <input type="submit" value="Log ind" />
    </form>
</section>
</body>
</html>