<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{style.css}">
  <title>Ny Bil</title>
</head>

<body>
<header th:insert="~{fragments :: header}"></header>

<main>
  <section>
    <form th:action="@{/GemNyBil}" method="get">
      <div>
        <label for="vognNummer">VognNummer:</label>
        <input type="text" id="vognNummer" name="vognNummer" placeholder="Indtast vognnummer" maxlength="7" required autofocus>
      </div>

      <div>
        <label for="stelNummer">StelNummer:</label>
        <input type="text" id="stelNummer" name="stelNummer" placeholder="Indtast stelnummer" maxlength="17" required>
      </div>

      <div>
        <label for="bilType_Id">BilType Id:</label>
        <select id="bilType_Id" name="bilType_Id">
          <option value="" disabled selected>Vælg biltype</option>
          <option th:each="bilType : ${bilTypeList}" th:value="${bilType.bilType_Id}" th:text="${bilType.maerke + '(' + bilType.model + ')'}"></option>
        </select>
      </div>

      <div>
        <label for="lager_Id">Lager Id:</label>
        <select id="lager_Id" name="lager_Id">
          <option value="" disabled selected>Vælg lager</option>
          <option th:each="lager : ${lagerList}" th:value="${lager.lager_Id}" th:text="${lager.navn + '(' + lager.adresse + ')'}"></option>
        </select>
      </div>

      <div>
        <label for="status">Status:</label>
        <select name="status" id="status">
          <option value="" disabled selected>Vælg status</option>
          <option th:value="Tilgængelig">Tilgængelig</option>
          <option th:value="Vedligeholdelse">Vedligeholdelse</option>
          <option th:value="Slettet">Slettet</option>
          <option th:value="Udlejet">Udlejet</option>
        </select>
      </div>

      <div>
        <button type="submit">Bekræft bil</button>
      </div>
    </form>

    <form th:action="@{/VisBiler}" method="get">
      <button type="submit" class="annuller">Tilbage til forsiden</button>
    </form>
  </section>
</main>

<footer>
  <!-- skriv side-specifik footer her -->
</footer>
</body>
</html>
