<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{style.css}">
  <title>Title</title>
</head>

<!-- Venlist ikke lav lokal styling for ting som kunne gå igen i andre html -->
<style></style>

<body>
<header th:insert="~{fragments :: header}"></header>
<main>
  <section>
  <form th:action="@{/laverNyBil}" method="get">
    <label >VognNummer:</label>
    <label>
      <input type="text" name="vognNummer" placeholder="text" autofocus="autofocus" maxlength="7" required/>
    </label> <br/>
    <label >StelNummer:</label>
    <label>
      <input type="text" name="stelNummer" placeholder="text" maxlength="17" required />
    </label>
    <label >BilType Id:</label>
    <label>
      <select name="bilType_Id">
        <option th:each="bilType : ${bilTypeList}" th:value="${bilType.bilType_Id}" th:text="${bilType.bilType_Id}"></option>
      </select>
    </label>
    <label >Lager Id:</label>
    <label>
      <select name="lager_Id">
        <option th:each="lager : ${lagerList}" th:value="${lager.lager_Id}" th:text="${lager.lager_Id}"></option>
      </select>
    </label>
    <label >Status:</label>
    <label>
      <input type="text" name="status" placeholder="text" maxlength="20" required />
    </label>
    <br/>
    <button type="submit" value="Bekræft Bil">Bekræft bil</button>
  </form>
  <form th:action="@{/}">
    <button class="annuller"  value="Go to ?index?">Go to ?index?</button>
  </form>
  </section>
</main>
<footer>
  <!-- skriv side-specific footer her -->
</footer>
</body>
</html>