<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Ny Lejeaftale</title>
</head>

<body>
<header th:insert="~{fragments :: header}"></header>

<main>
    <!-- Bilvisning -->

    <header class="underHeader" th:if="${bil != null}" th:insert="~{fragments :: bilKort}"></header>

    <!-- <section th:if="${bil != null}">
        <h2>Bil</h2>
        <table>
            <thead>
            <tr>
                <th>VognNummer</th>
                <th>StelNummer</th>
                <th>BilType Id</th>
                <th>Lager Id</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${bil.vognNummer}"></td>
                <td th:text="${bil.stelNummer}"></td>
                <td th:text="${bil.getBilType_Id}"></td>
                <td th:text="${bil.lager_Id}"></td>
                <td th:text="${bil.status}"></td>
            </tr>
            </tbody>
        </table>
    </section> -->

    <!-- Kundevisning -->
    <section th:if="${tempKunde != null}">
        <h2>Kunde</h2>
        <table>
            <tr>
                <th>Kunde ID</th>
                <th>Navn</th>
            </tr>
            <tr>
                <td th:text="${tempKunde.getKunde_Id()}"></td>
                <td th:text="${tempKunde.navn}"></td>
            </tr>
        </table>
    </section>

    <!-- Lejeaftaleformular -->
    <section>
        <h2>Opret Lejeaftale</h2>
        <form th:action="@{/OmdirigerNyLejeAftale}" method="get">
            <div>
                <label for="kunde_Id">Kunde ID:</label>
                <select id="kunde_Id" name="kunde_Id" onchange="this.form.submit()" required >
                    <option value="" disabled selected>Vælg en kunde</option>
                    <option  th:each="kunde : ${kundeList}" th:selected="${tempKunde != null and kunde.kunde_Id == tempKunde?.kunde_Id}" th:value="${kunde.getKunde_Id()}" th:text="${kunde.navn + ' (ID: ' + kunde.getKunde_Id() + ')'}"></option>
                </select>
            </div>
            <div>
                <label for="vognNummer">Vognnummer:</label>
                <select id="vognNummer" name="vognNummer" onchange="this.form.submit()" required>
                    <option value="" disabled selected>Vælg en bil</option>
                    <option th:type="submit" th:each="Bil : ${bilList}" th:selected="${bil != null and Bil.vognNummer == bil.vognNummer}" th:value="${Bil.vognNummer}" th:text="${Bil.vognNummer+ ' (status: ' + Bil.status + ')'}"></option>
                </select>
            </div>

            <div>
                <label for="startDato">Startdato:</label>
                <input type="date" id="startDato" name="startDato" th:value="${startDato}" required />
            </div>

            <div>
                <label for="slutDato">Slutdato:</label>
                <input type="date" id="slutDato" name="slutDato" th:value="${slutDato}" required />
            </div>

            <div>
                <label for="detaljer">Detaljer:</label>
                <textarea id="detaljer" name="detaljer" th:text="${detaljer}" placeholder="Beskriv afhentningen" maxlength="255" rows="4" required></textarea>
            </div>

            <div>
                <button type="submit" name="submitKnap" value="True">Bekræft lejeaftale</button>
            </div>
        </form>

        <form th:action="@{/VisLejeAftaler}" method="get">
            <button type="submit" class="annuller">Tilbage til forsiden</button>
        </form>
    </section>
</main>

<footer>
    <!-- skriv side-specific footer her -->
</footer>
</body>
</html>
