<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Title</title>
</head>

<!-- Venlist ikke lav lokal styling for ting som kunne gå igen i andre html -->
<style></style>

<body>
<header th:insert="~{fragments :: header}"></header>
<main>
    <form th:object="${bil}">
        <ul>
            <li>
                <table>
                    <tr >
                        <td><p th:field="bil.vognNummer"th:text="${bil.vognNummer}"></p></td>
                        <td><p th:field="bil.vognNummer"th:text="${bil.vognNummer}"></p></td>
                        <td><p th:field="bil.vognNummer"th:text="${bil.vognNummer}"></p></td>
                    </tr>
                    <tr>
                        <td><p th:field="bil.vognNummer"th:text="${bil.vognNummer}"></p></td>
                        <td><p th:field="bil.vognNummer"th:text="${bil.vognNummer}"></p></td>
                        <td><p th:field="bil.vognNummer"th:text="${bil.vognNummer}"></p></td>
                    </tr>
                </table>





            </li>
        </ul>
    </form>
    <form th:object="${kunde}">
        <ul>
            <li>
                <table>
                    <tr >
                        <td><p th:field="kunde.vognNummer"th:text="${kunde.vognNummer}"></p></td>
                        <td><p th:field="kunde.vognNummer"th:text="${kunde.vognNummer}"></p></td>
                        <td><p th:field="kunde.vognNummer"th:text="${kunde.vognNummer}"></p></td>
                    </tr>
                    <tr>
                        <td><p th:field="kunde.vognNummer"th:text="${kunde.vognNummer}"></p></td>
                        <td><p th:field="kunde.vognNummer"th:text="${kunde.vognNummer}"></p></td>
                        <td><p th:field="kunde.vognNummer"th:text="${kunde.vognNummer}"></p></td>
                    </tr>
                </table>





            </li>
        </ul>
    </form>
    <form th:action="@{/laverNyLejeAftale}" method="get">
        <label>Kunde ID:</label>
        <label>
            <input type="number" name="kunde_Id" placeholder="Indtast kunde ID" required />
        </label> <br/>

        <label>Vognnummer:</label>
        <label>
            <select name="vognNummer">
                <option th:each="item : ${list}" th:value="${item.vognNummer}" th:text="${item.vognNummer}"></option>
            </select>
        </label> <br/>

        <label>Startdato:</label>
        <label>
            <input type="date" name="startDato" required />
        </label> <br/>

        <label>Slutdato:</label>
        <label>
            <input type="date" name="slutDato" required />
        </label> <br/>

        <label>Detaljer:</label>
        <label>
            <textarea name="detaljer" placeholder="Beskriv Afhentningen" maxlength="255" rows="4" cols="50" required></textarea>
        </label> <br/>
        <button class="annuller" th:action="@{/index}" value="Go to ?index?">Go to ?index?</button>
        <button type="submit">Bekræft lejeaftale</button>
    </form>

</main>
<footer>
    <!-- skriv side-specific footer her -->
</footer>
</body>
</html>