<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<style>
    .fade-out {
        animation: fadeOut 3s ease-in-out forwards;
    }

    @keyframes fadeOut {
        0%   { opacity: 1; }
        60%  { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
    }
</style>
<body>
<header th:insert="~{fragments :: header}"></header>
<section>
    <div class="fade-out" th:unless="${registrerBesked} == 'Ny bruger lavet'">
        <label style="color: darkred" th:text="${registrerBesked}"></label>
    </div>
    <div class="fade-out" th:if="${registrerBesked} == 'Ny bruger lavet'">
        <label style="color: green" th:text="${registrerBesked}"></label>
    </div>

    <form th:action="@{/OmdirigerRegistrer}" method="get">
        <label >Brugernavn:</label>
        <input type="text" name="navn" placeholder="navn" th:value="${navn}" autofocus="autofocus" required/> <br/>
        <label >Adgangskode:</label>
        <input type="password" name="adgangskode" placeholder="adgangskode" th:value="${adgangskode}" required /> <br/>
        <label >Verificer Adgangskode:</label>
        <input type="password" name="adgangskode2" placeholder="adgangskode"th:value="${adgangskode2}"  required /> <br/>
        <label >Stilling:</label>
        <!--<input type="text" name="stilling" placeholder="stilling" required /> <br/>
         <details>
           <input type="text" name="stilling" placeholder="stilling" required /> <br/>
       </details>-->
        <details >
            <summary th:text="${stilling}"></summary>
            <form th:action="@{/Dataregistrering}" th:method="get">
                <input hidden type="text" name="stilling" th:value="${stilling}">
                <button type="submit">Dataregistrering</button>
            </form>
            <form th:action="@{/Skade_og_Udbedring}" th:method="get">
                <input hidden type="text" name="stilling" th:value="${stilling}">
                <button type="submit">Skade og Udbedring</button>
            </form>
            <form th:action="@{/Forretningsudvikler}" th:method="get">
                <input hidden type="text" name="stilling" th:value="${stilling}">
                <button type="submit">Forretningsudvikler</button>
            </form>
        </details>

       <input type="submit" value="Log ind" />
   </form>
</section>
</body>
</html>