<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<style>
    .fade-out {
        animation: fadeOut 4s ease-in-out forwards;
        color: darkred;
    }

    @keyframes fadeOut {
        0%   { opacity: 1; }
        60%  { opacity: 1; }
        100% { opacity: 0; visibility: hidden; }
    }
</style>
<body>
<header th:insert="~{fragments :: header}"></header>
<section>
    <form th:action="@{/OmdirigerRegistrer}" method="get" id="OmReg" >
        <div class="fade-out" th:unless="${registrerBesked} == 'Ny bruger lavet'">
            <label style="color: darkred" th:text="${registrerBesked}"></label>
        </div>
        <div class="fade-out" th:if="${registrerBesked} == 'Ny bruger lavet'">
            <label style="color: green" th:text="${registrerBesked}"></label>
        </div>
        <label >Navn:</label>
        <input type="text" name="navn" placeholder="navn" th:value="${navn}"  autofocus="autofocus"   />
        <label th:if="${manglendeInput == 0}" class="fade-out">Mangler Navn</label><br/>
        <label >Adgangskode:</label>
        <input type="password" name="adgangskode" placeholder="adgangskode" th:value="${adgangskode}"   />
        <label th:if="${manglendeInput == 1}" class="fade-out">Mangler Adgangskode</label><br/>
        <label >Verificer Adgangskode:</label>
        <input type="password" name="adgangskode2" placeholder=" verificer adgangskode" th:value="${adgangskode2}"    />
        <label th:if="${manglendeInput == 2}" class="fade-out">Mangler Verificer Adgangskode</label><br/>
        <label >Stilling:</label>


        <details >
            <summary th:text="${stilling}"></summary>
                <button type="submit"  name="stilling" value="Dataregistrering" >Dataregistrering</button>

                <button type="submit"  name="stilling" value="Skade og Udbedring" >Skade og Udbedring</button>

                <button type="submit"  name="stilling" value="Forretningsudvikler" >Forretningsudvikler</button>

        </details>


        <button type="submit"  name="stilling" th:value="${stilling} + '_'">Registrer</button>
    </form>

</section>
</body>
</html>