<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Bilabonnement</title>
</head>

<!-- Venlist ikke lav lokal styling for ting som kunne gå igen i andre html -->
<style></style>

<body>
<header th:insert="~{fragments :: header}"></header>
<main>
    <header class="underHeader" th:insert="~{fragments :: bilKort}"></header>
    <aside>
        <form th:if="${aktivBruger.erStilling('data')}" th:action="@{NyLejeAftale}" method="get">
            <button type="submit" >ny LejeAftale </button>
        </form>
        <form th:if="${aktivBruger.erStilling('data', 'skade')}" th:action="@{/NyNotation}" th:method="get">
            <button type="submit">Registrér Ny Notation</button>
        </form>

        <form th:if="${aktivBruger.erStilling('forretning')&& bil.getStatus().equals('TILBAGELEVERET')}" th:action="@{SaelgBil}" method="get">
            <button type="submit" class="annuller">Marker Solgt</button>
        </form>
        <div th:insert="~{fragments :: notationListe}"></div>
    </aside>
</main>
</body>
</html>