<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{style.css}">
  <title>Biloversigt</title>
</head>

<body>
<header th:insert="~{fragments :: header}"></header>

<main>
  <header class="underHeader">
  <section th:if="${aktivBruger.getStilling().toLowerCase().startsWith('f')}">
    <form th:action="@{NyBil}" method="get">
      <button type="submit">Ny Bil</button>
    </form>
    <form th:action="@{NytLager}" method="get">
      <button type="submit">Nyt Lager</button>
    </form>
    <form th:action="@{NyBilType}" method="get">
      <button type="submit">Ny Biltype</button>
    </form>
  </section>
  <section>


    <form th:action="@{/OmdirigerVisBiler}" method="get">
    <div>
      <div>
        <label for="vognNummer">VognNummer/stelNummer:</label>
        <input type="text" id="vognNummer" name="vognNummer" th:value="${vognNummer}" placeholder="Indtast vognnummer/stelNummer" maxlength="17"  onchange="this.form.submit()" required autofocus>
      </div>
    </div>
  </form>
    <form th:action="@{/OmdirigerVisBiler}" method="get">
      <div>
        <div>
          <select name="lager_Id">
            <option value="" disabled th:selected="${lager_Id==null||lager_Id==0}">Vælg lager</option>
            <option  th:each="lager : ${lagerList}" th:selected="${(lager_Id!=null && lager_Id!=0) && (lager_Id == lager.lager_Id)}" th:value="${lager.lager_Id}" th:text="${lager.navn + '(' + lager.lager_Id + ')'}"></option>
          </select>

          <select name="maerke">
            <option value="" disabled th:selected="${maerke == null}">Vælg mærke</option>
            <option th:each="bilType : ${bilTypeList}" th:selected="${#strings.equals(maerke, bilType.maerke)}" th:value="${bilType.maerke}" th:text="${bilType.maerke + '(' + bilType.model + ')'}"></option>
          </select>

          <select name="status">
            <option value="" disabled th:selected="${status == null}">Vælg status</option>
            <option th:each="Status : ${statusList}" th:selected="${#strings.equals(status, Status)}" th:value="${Status}" th:text="${Status}"></option>
          </select>

          <button type="submit">Filtrer</button>
        </div>
      </div>
    </form>

    <form th:action="@{/VisBilerReset}" method="get">
      <button type="submit">Reset</button>
    </form>
  </section>
  </header>

  <div th:insert="~{fragments :: bilListe}"></div>

  <!-- <section>
    <table>
      <thead>
      <tr>
        <th>Vognnummer</th>
        <th>Stelnummer</th>
        <th>Biltype ID</th>
        <th>Lager ID</th>
        <th>Status</th>
        <th>Handling</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bil : ${bilList}">
        <td th:text="${bil.vognNummer}"></td>
        <td th:text="${bil.stelNummer}"></td>
        <td th:text="${bil.bilType_Id}"></td>
        <td th:text="${bil.lager_Id}"></td>
        <td th:text="${bil.status}"></td>
        <td>
          <a th:href="@{VisBil(vognNummer=${bil.vognNummer})}">
            <button type="button">Vis</button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </section> -->
</main>
</body>
</html>
