<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{style.css}">
  <title>Biloversigt</title>
</head>

<body>
<header th:insert="~{fragments :: header}"></header>

<main>
  <header class="underHeader">
    <form th:action="@{NyBil}" method="get">
      <button type="submit">Ny Bil</button>
    </form>
    <form th:action="@{NytLager}" method="get">
      <button type="submit">Nyt Lager</button>
    </form>
    <form th:action="@{NyBilType}" method="get">
      <button type="submit">Ny Biltype</button>
    </form>
  </header>

  <div th:insert="~{fragments :: bilListe}"></div>

  <!-- <section>
    <table>
      <thead>
      <tr>
        <th>Vognnummer</th>
        <th>Stelnummer</th>
        <th>Biltype ID</th>
        <th>Lager ID</th>
        <th>Status</th>
        <th>Handling</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bil : ${bilList}">
        <td th:text="${bil.vognNummer}"></td>
        <td th:text="${bil.stelNummer}"></td>
        <td th:text="${bil.bilType_Id}"></td>
        <td th:text="${bil.lager_Id}"></td>
        <td th:text="${bil.status}"></td>
        <td>
          <a th:href="@{VisBil(vognNummer=${bil.vognNummer})}">
            <button type="button">Vis</button>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </section> -->
</main>
</body>
</html>
