<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Title</title>
</head>

<!-- Venlist ikke lav lokal styling for ting som kunne gå igen i andre html -->
<style></style>

<body>
<header th:insert="~{fragments :: header}"></header>
<main>
    <header class="underHeader">
        <form th:action="@{/OmdirigerVisLejeAftaler}" method="get">
            <label>VognNummer: </label>
            <input type="text" name="vognNummer" placeholder="VognNummer" th:value="${vognNummer}"  onchange="this.form.submit()"  />

            <label>Kunde Navn: </label>
            <input type="text" name="kundeNavn" placeholder="KundeNavn" th:value="${kundeNavn}"  onchange="this.form.submit()"  />

            <label>Periode: </label>
            <select id="periodeNummer" name="periodeNummer" onchange="this.form.submit()" required >
                <option value="" disabled selected>Vælg en periode/dag</option>
                <option   th:selected="${periodeNummer == null || periodeNummer == 0}" value="0">Sidste Uge</option>
                <option   th:selected="${periodeNummer != null && periodeNummer == 1}" value="1">Sidste Måned</option>
                <option   th:selected="${periodeNummer != null && periodeNummer == 2}" value="2">Vælg Dag</option>
                <option   th:selected="${periodeNummer != null && periodeNummer == 3}" value="3">Vælg Periode</option>
            </select>
            <div th:if="${periodeNummer == null || periodeNummer == 0}">
                <label>Sidste Uge</label>
            </div>
            <div th:if="${periodeNummer != null && periodeNummer == 1}">
                <label>Sidste Måned</label>
            </div>
            <div th:if="${periodeNummer != null && periodeNummer == 2}">
                <input  type="date" id="dato" name="dato" th:value="${dato}" onchange="this.form.submit()" />
            </div>
            <div th:if="${periodeNummer != null && periodeNummer == 3}">
                <input  type="date" id="startDato" name="startDato" th:value="${startDato}" onchange="this.form.submit()" />
                <input  type="date" id="slutDato" name="slutDato" th:value="${slutDato}" onchange="this.form.submit()" />
            </div>
            <button type="submit">Filtrer</button>
        </form>
        <form th:action="@{/VisLejeAftaler}" method="get">
            <button type="submit">Reset</button>
        </form>
    </header>
    <div th:each="Aftale : ${lejeAftaler}" class="liste">
        <a th:if="${
    (kundeNavn == null || Aftale.getKunde().getNavn().toLowerCase().trim().contains(kundeNavn.toLowerCase().trim())) &&
    (vognNummer == null || #strings.contains(Aftale.getVognNummer(), vognNummer)) &&
    (dato == null || (dato.isAfter(Aftale.getStartLocalDate()) && dato.isBefore(Aftale.getSlutLocalDate()))) &&
    (startDato == null || slutDato == null ||
        (!slutDato.isBefore(Aftale.getStartLocalDate()) && !startDato.isAfter(Aftale.getSlutLocalDate()))
    )}" th:href="@{VisLejeAftale(aftaleId = ${Aftale.getAftale_Id()})}" style="color: inherit; text-decoration: none">
            <div th:insert="~{fragments :: aftaleListeKort (
                                    vognNummer=${Aftale.getBil().toString()},
                                    kundeNavn= ${Aftale.getKunde().getNavn()},
                                    afgift=    ${Aftale.getBil().getType().getAfgift()},
                                    lager=     ${Aftale.getBil().getLager().getNavn()},
                                    startDato= ${Aftale.getStartDato()},
                                    slutDato=  ${Aftale.getSlutDato()}
                                    )}">
            </div>
        </a>
    </div>
</main>
<footer th:insert="~{fragments :: footer}"></footer>
</body>
</html>