<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Title</title>
</head>

<!-- Venlist ikke lav lokal styling for ting som kunne gå igen i andre html -->
<style></style>

<body>
<header th:insert="~{fragments :: header}"></header>
<main>
    <header class="underHeader" th:insert="~{fragments :: aftaleKort}"></header>
    <section th:if="${ (aktivBruger.getStilling().toLowerCase().startsWith('d')&& lejeAftale.erAfsluttet()==true && lejeAftale.kanAfsluttes)|| (aktivBruger.getStilling().toLowerCase().startsWith('s')&& lejeAftale.erAfsluttet()==true && lejeAftale.kanAfsluttes)||(aktivBruger.getStilling().toLowerCase().startsWith('d')&& lejeAftale.erAfsluttet()==true && lejeAftale.kanAfsluttes)}">
        <label>Husk notation af skader</label>
        <form th:action="@{AfslutLejeAftale}" method="get">
            <button type="submit">Afslut LejeAftale Bil</button>
        </form>
    </section>
    <section>
    <aside>
        <div style="width: 100%;">
            <section style="max-width: initial">
                <p th:text="${lejeAftale.getDetaljer()}">Detaljer</p>
            </section>
            <form th:action="@{/SletLejeAftale}" th:method="get">
                <button type="submit" class="annuller">Aflys Aftale</button>
            </form>
            <form th:action="@{/NyNotation}" th:method="get">
                <button type="submit">Registrér Ny Notation</button>
            </form>
        </div>
        <div>
            <section style="max-width: initial">
                <p th:text="'Forlæng Aftale: '">Kørte Kilometer</p>
                <p th:text="'Intast Kørte kilometer: '">Kørte Kilometer</p>
            </section>
            <div th:each="Aftale : ${lejeAftaler}" class="liste">
                <a th:if="${
    (kundeNavn == null || Aftale.getKunde().getNavn().toLowerCase().trim().contains(kundeNavn.toLowerCase().trim())) &&
    (vognNummer == null || #strings.contains(Aftale.getVognNummer(), vognNummer)) &&
    (dato == null || (dato.isAfter(Aftale.getStartLocalDate()) && dato.isBefore(Aftale.getSlutLocalDate()))) &&
    (startDato == null || slutDato == null ||
        (!slutDato.isBefore(Aftale.getStartLocalDate()) && !startDato.isAfter(Aftale.getSlutLocalDate()))
    )}" th:href="@{VisLejeAftale(aftaleId = ${Aftale.getAftale_Id()})}" style="color: inherit; text-decoration: none">
                    <div th:insert="~{fragments :: aftaleListeKort (
                                    vognNummer=${Aftale.getBil().toString()},
                                    kundeNavn= ${Aftale.getKunde_Navn()},
                                    afgift=    ${Aftale.getSamletPris()},
                                    lager=     ${Aftale.getBil().getLager().getNavn()},
                                    startDato= ${Aftale.getStartDato()},
                                    slutDato=  ${Aftale.getSlutDato()},
                                    erBetalt=  ${Aftale.erBetalt()}
                                    )}">
                    </div>
                </a>
            </div>
        </div>
    </aside>
</section>
</main>
</body>
</html>