:root {
    --primær-farve:          #0081fd;
    --primær-farve-mørk:     #0060b0;
    --primær-farve-baggrund: white;
    --primær-farve-obs:      red;
    --primær-padding:        1.5rem;

    --kort-kant-farve: #666666;

    --box-kant-farve: black;
    --box-skygge: 0 4px 8px rgba(0,0,0,0.1);
    --box-radius: 0.5rem;

    --border-color: #e0e0e0;

}

body {}

main, header, footer, button {
    border-style: solid;
    border-width: thin;
    border-radius: var(--box-radius);
    border-color: var(--box-kant-farve);
    background-color: var(--primær-farve-baggrund);
    padding: var(--primær-padding);
    margin: var(--primær-padding);
    box-shadow: var(--box-skygge);
}

header div, footer div {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header {
    position: sticky;
    top:0;
}

footer {
    position: sticky;
    bottom:0;
}

main {
    --ekstra: calc(var(--primær-padding) + 1rem);
    margin-left:  var(--ekstra);
    margin-right: var(--ekstra);
}

button {
    height: 2rem;
    margin: initial;
    border-width: medium;
    border-color: var(--primær-farve-obs);
    text-align: center;
}