:root {
    --primær-farve-baggrund: white;
    --primær-farve:          cornflowerblue;/* #0081fd; */
    --primær-farve-mørk:     royalblue; /* #0060b0; */
    --primær-farve-obs:      indianred;
    --primær-farve-obs-mørk: firebrick;
    --primær-margin:        1rem;
    --sekundær-margin:      0.5rem;

    --box-kant-farve: black;
    --box-skygge: 0 4px 8px rgba(0,0,0,0.5);
    --box-radius: 0.5rem;

    --kort-kant-farve: #EEEEEE;
}

body {}

main, header, footer, section, button, p.vognNr, div.liste {
    border-style: solid;
    border-width: thin;

    border-color: var(--kort-kant-farve);
    background-color: var(--primær-farve-baggrund);
    margin: var(--primær-margin);
    padding: var(--primær-margin);
    box-shadow: var(--box-skygge);

    min-width: min-content;
}

main, header, footer, section, button, p.vognNr {
    border-radius: var(--box-radius);
    border-color: var(--box-kant-farve);
}

header div, footer div {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header {
    justify-content: center;
    position: sticky;
    top: var(--sekundær-margin);
}

header.underHeader {
    display: flex;
    padding: 0;
    top: 7rem;
}

footer {
    position: sticky;
    bottom: var(--sekundær-margin);
}

main {
    --ekstra: calc(var(--primær-margin) * 2);
    margin-left:  var(--ekstra);
    margin-right: var(--ekstra);
    padding: 0;
    justify-items: center;
}

section {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

aside section {
    margin: var(--primær-margin);
}

aside {
    display: flex;
    justify-content: space-between;
    margin: var(--primær-margin);
}

button {
    cursor: pointer;
    padding: var(--sekundær-margin);
    margin: var(--sekundær-margin);
    margin: initial;
    border-width: medium;
    border-color: var(--primær-farve-mørk);
    background-color: var(--primær-farve);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,45%));
    align-items: center;
    text-align: center;
    font-weight: bold;
    filter: brightness(1.3);
}

button.logud {
    border-color: var(--primær-farve-obs-mørk);
    background-color: #EEEEEE;
    height: 3rem;
}

button.annuller {
    border-color: var(--primær-farve-obs-mørk);
    background-color: var(--primær-farve-obs);
}

button:hover {
    filter: brightness(1.4);
    /*
        --buffer: attr(border-color color);
        background-color: rgba(var(--buffer), 0.2);
     */
}

p {
    margin: 0;
    margin-right: var(--primær-margin);
    margin-left: var(--primær-margin);
}

p.vognNr {
    border-color: red;
    border-width: medium;
    padding: .15rem;
    margin: var(--sekundær-margin);
    cursor: pointer;
    align-content: center;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: large;
    min-width: 5.5rem;
    max-width: max-content;
    max-height: max-content;
}

p.stelNummer {
    font-style: italic;
    color: gray;
}

textarea{
    resize: none;
}

/*
aside div {
    width: 100%;
    max-width: max-content;
} */

div.liste {
    padding: 0;
    min-width: max-content;
}

div.liste:hover {
    cursor: pointer;
    background-color: var(--kort-kant-farve);
}

div.kort {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
}

div.kort div{
    display: block;
    margin-top: var(--primær-margin);
    margin-bottom: var(--primær-margin);
    min-width: max-content;
    max-width: max-content;
}

div.kort div:not(:first-of-type){
    border-left: 1mm solid lightgray;
}

form {
    margin: var(--sekundær-margin);
}

form input {
    text-align-last: initial;
}

ul {
    list-style-type: none;
}