:root {
    --primær-farve-baggrund: white;
    --primær-farve:          cornflowerblue;/* #0081fd; */
    --primær-farve-mørk:     royalblue; /* #0060b0; */
    --primær-farve-obs:      indianred;
    --primær-farve-obs-mørk: firebrick;
    --primær-padding:        1.5rem;

    --box-kant-farve: black;
    --box-skygge: 0 4px 8px rgba(0,0,0,0.5);
    --box-radius: 0.5rem;

    --kort-kant-farve: #EEEEEE;
}

body {}

main, header, footer, section, button, p.vognNr, li {
    border-style: solid;
    border-width: thin;

    border-color: var(--kort-kant-farve);
    background-color: var(--primær-farve-baggrund);
    padding: var(--primær-padding);
    margin: var(--primær-padding);
    box-shadow: var(--box-skygge);
}

main, header, footer, section, button, p.vognNr {
    border-radius: var(--box-radius);
    border-color: var(--box-kant-farve);
}

header div, footer div {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header {
    position: sticky;
    top: 0.5rem;
}

header.underHeader {
    top: 7rem;
}

footer {
    position: sticky;
    bottom: 0.5rem;
}

main {
    --ekstra: calc(var(--primær-padding) + 1rem);
    margin-left:  var(--ekstra);
    margin-right: var(--ekstra);
}

ul {
    list-style-type: none;
}

li:hover {
    cursor: pointer;
    background-color: var(--kort-kant-farve);
}

button {
    cursor: pointer;
    height: 3rem; /* todo: 'typer' af button */
    width: 4rem;
    margin: initial;
    padding: initial;
    border-width: medium;
    border-color: var(--primær-farve-mørk);
    background-color: var(--primær-farve);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,45%));
    align-items: center;
    text-align: center;
    filter: brightness(1.3);
}

button.logud {
    border-color: var(--primær-farve-obs-mørk);
    background-color: #EEEEEE;
}

button.annuller {
    border-color: var(--primær-farve-obs-mørk);
    background-color: var(--primær-farve-obs);
}

button:hover {
    filter: brightness(1.4);
    /*
        --buffer: attr(border-color color);
        background-color: rgba(var(--buffer), 0.2);
     */
}

p.vognNr {
    border-width: medium;
    border-color: var(red);
    cursor: pointer;
}